<!doctype html>
<html lang="en">
<head>
    <title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">

    <!--Footer content-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="footer/css/ionicons.min.css">
    <link rel="stylesheet" href="footer/css/style.css">
    <!--Header content-->

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="Header/fonts/icomoon/style.css">

    <link rel="stylesheet" href="Header/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="Header/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="Header/css/style.css">
</head>

<body>
    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand studenthub-logo" href="index.html">

                    <div class="logo-circle">
                        <span>U</span>
                        <span>S</span>
                        <span>H</span>
                    </div>

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Recipes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="#">Food Catering</a>
                                <a class="dropdown-item" href="#">Drink &amp; Beverages</a>
                                <a class="dropdown-item" href="#">Wedding &amp; Birthday</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item cta-btn">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <div class="login-background">

        <main role="main" class="pb-3">

            @RenderBody()

        </main>

    </div>

    <footer class="footer-01">

        <div class="container">

            <div class="row">

                <!-- StudentHub Description -->
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">

                    <h2 class="footer-heading">StudentHub</h2>

                    <p>
                        A platform built for students to connect,
                        find tutors, discover opportunities, and buy or sell
                        items safely within the student community.
                    </p>

                    <ul class="ftco-footer-social p-0">

                        <li class="ftco-animate">
                            <a href="#">
                                <span class="ion-logo-facebook"></span>
                            </a>
                        </li>

                        <li class="ftco-animate">
                            <a href="#">
                                <span class="ion-logo-instagram"></span>
                            </a>
                        </li>

                        <li class="ftco-animate">
                            <a href="#">
                                <span class="ion-logo-linkedin"></span>
                            </a>
                        </li>

                    </ul>

                </div>



                <!-- Student Updates with Images -->
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">

                    <h2 class="footer-heading">Student Updates</h2>

                    <div class="block-21 mb-4 d-flex">

                        <a class="img mr-4 rounded"
                           style="background-image: url(footer/images/image_1.jpg);">
                        </a>

                        <div class="text">

                            <h3 class="heading">
                                <a href="#">
                                    Find trusted tutors and improve your grades
                                </a>
                            </h3>

                            <div class="meta">

                                <div>
                                    <a href="#">
                                        <span class="icon-calendar"></span>
                                        Student Support
                                    </a>
                                </div>

                                <div>
                                    <a href="#">
                                        <span class="icon-person"></span>
                                        StudentHub
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>



                    <div class="block-21 mb-4 d-flex">

                        <a class="img mr-4 rounded"
                           style="background-image: url(footer/images/image_2.jpg);">
                        </a>


                        <div class="text">

                            <h3 class="heading">
                                <a href="#">
                                    Buy and sell student essentials easily
                                </a>
                            </h3>


                            <div class="meta">

                                <div>
                                    <a href="#">
                                        <span class="icon-calendar"></span>
                                        Marketplace
                                    </a>
                                </div>

                                <div>
                                    <a href="#">
                                        <span class="icon-person"></span>
                                        StudentHub
                                    </a>
                                </div>

                            </div>


                        </div>


                    </div>


                </div>





                <!-- Quick Links -->
                <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">


                    <h2 class="footer-heading">
                        Quick Links
                    </h2>


                    <ul class="list-unstyled">


                        <li>
                            <a href="#" class="py-2 d-block">
                                Home
                            </a>
                        </li>


                        <li>
                            <a href="#" class="py-2 d-block">
                                Marketplace
                            </a>
                        </li>


                        <li>
                            <a href="#" class="py-2 d-block">
                                Tutors
                            </a>
                        </li>


                        <li>
                            <a href="#" class="py-2 d-block">
                                Community
                            </a>
                        </li>


                        <li>
                            <a href="#" class="py-2 d-block">
                                Help Centre
                            </a>
                        </li>


                    </ul>


                </div>





                <!-- Contact -->
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">


                    <h2 class="footer-heading">
                        Need Help?
                    </h2>


                    <div class="block-23 mb-3">

                        <ul>


                            <li>

                                <span class="text">
                                    A safe online community created for students.
                                </span>

                            </li>



                            <li>

                                <a href="#">
                                    <span class="text">
                                        support@studenthub.com
                                    </span>
                                </a>

                            </li>



                            <li>

                                <a href="#">
                                    <span class="text">
                                        +27 00 000 0000
                                    </span>
                                </a>

                            </li>


                        </ul>


                    </div>


                </div>



            </div>





            <!-- Copyright Section With Line -->
            <div class="row mt-5 pt-4 border-top">


                <div class="col-md-12 text-center">


                    <p class="copyright">


                        Copyright &copy;

                        <script>
                                                    document.write(new Date().getFullYear());
                        </script>


                        StudentHub. All rights reserved.


                    </p>


                </div>


            </div>



        </div>


    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
